# Setting up notebook

In [1]:
%load_ext autoreload
%autoreload 2

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Scrapping CSV

## Imports

In [2]:
import os
import pandas as pd
import cv2
from matplotlib import pyplot as plt

## Dataset

In [80]:
images_dir_path = '../../data/dataset/'

images_paths_list = [os.path.join(path, name) for path, subdirs, files in os.walk(images_dir_path) for name in files]

images_df = pd.DataFrame(images_paths_list, columns=['path'])

In [81]:
images_df['label'] = (images_df['path'].str.extract(r'(\w+(?=/IMG))'))
images_df

                                           path  label
0    ../../data/dataset/train/big/IMG_7861.jpeg    big
1    ../../data/dataset/train/big/IMG_7884.jpeg    big
2    ../../data/dataset/train/big/IMG_7869.jpeg    big
3    ../../data/dataset/train/big/IMG_7870.jpeg    big
4    ../../data/dataset/train/big/IMG_7875.jpeg    big
..                                          ...    ...
59  ../../data/dataset/test/small/IMG_7902.jpeg  small
60  ../../data/dataset/test/small/IMG_7890.jpeg  small
61  ../../data/dataset/test/small/IMG_7896.jpeg  small
62  ../../data/dataset/test/small/IMG_7905.jpeg  small
63  ../../data/dataset/test/small/IMG_7915.jpeg  small

[64 rows x 2 columns]

## Splitting dataset

In [98]:
train_df = images_df.loc[images_df['path'].str.contains('train')]
test_valid_df = images_df.loc[images_df['path'].str.contains('test')]

big_test_valid_df = test_valid_df.loc[test_valid_df['label']=='big']
small_test_valid_df = test_valid_df.loc[test_valid_df['label']=='small']

test_df = big_test_valid_df.iloc[:int(big_test_valid_df.shape[0]/2)].append(small_test_valid_df.iloc[:int(small_test_valid_df.shape[0]/2)])
valid_df = big_test_valid_df.iloc[int(big_test_valid_df.shape[0]/2):].append(small_test_valid_df.iloc[int(small_test_valid_df.shape[0]/2):])
'Train dataset:'
train_df
'Test dataset:'
test_df
'Valid dataset:'
valid_df

'Train dataset:'

                                            path  label
0     ../../data/dataset/train/big/IMG_7861.jpeg    big
1     ../../data/dataset/train/big/IMG_7884.jpeg    big
2     ../../data/dataset/train/big/IMG_7869.jpeg    big
3     ../../data/dataset/train/big/IMG_7870.jpeg    big
4     ../../data/dataset/train/big/IMG_7875.jpeg    big
5     ../../data/dataset/train/big/IMG_7845.jpeg    big
6     ../../data/dataset/train/big/IMG_7864.jpeg    big
7     ../../data/dataset/train/big/IMG_7882.jpeg    big
8     ../../data/dataset/train/big/IMG_7854.jpeg    big
9     ../../data/dataset/train/big/IMG_7849.jpeg    big
10    ../../data/dataset/train/big/IMG_7863.jpeg    big
11    ../../data/dataset/train/big/IMG_7855.jpeg    big
12    ../../data/dataset/train/big/IMG_7860.jpeg    big
13    ../../data/dataset/train/big/IMG_7848.jpeg    big
14    ../../data/dataset/train/big/IMG_7846.jpeg    big
15    ../../data/dataset/train/big/IMG_7857.jpeg    big
16    ../../data/dataset/train/big/IMG_7879.jpeg    big
17    ../../data/dataset/train/big/IMG_7852.jpeg    big
18    ../../data/dataset/train/big/IMG_7867.jpeg    big
19    ../../data/dataset/train/big/IMG_7866.jpeg    big
20    ../../data/dataset/train/big/IMG_7851.jpeg    big
21    ../../data/dataset/train/big/IMG_7873.jpeg    big
22    ../../data/dataset/train/big/IMG_7872.jpeg    big
23    ../../data/dataset/train/big/IMG_7881.jpeg    big
24    ../../data/dataset/train/big/IMG_7858.jpeg    big
25    ../../data/dataset/train/big/IMG_7878.jpeg    big
26    ../../data/dataset/train/big/IMG_7876.jpeg    big
27  ../../data/dataset/train/small/IMG_7888.jpeg  small
28  ../../data/dataset/train/small/IMG_7885.jpeg  small
29  ../../data/dataset/train/small/IMG_7907.jpeg  small
30  ../../data/dataset/train/small/IMG_7906.jpeg  small
31  ../../data/dataset/train/small/IMG_7892.jpeg  small
32  ../../data/dataset/train/small/IMG_7898.jpeg  small
33  ../../data/dataset/train/small/IMG_7886.jpeg  small
34  ../../data/dataset/train/small/IMG_7889.jpeg  small
35  ../../data/dataset/train/small/IMG_7904.jpeg  small
36  ../../data/dataset/train/small/IMG_7903.jpeg  small
37  ../../data/dataset/train/small/IMG_7895.jpeg  small
38  ../../data/dataset/train/small/IMG_7901.jpeg  small
39  ../../data/dataset/train/small/IMG_7891.jpeg  small
40  ../../data/dataset/train/small/IMG_7894.jpeg  small
41  ../../data/dataset/train/small/IMG_7900.jpeg  small
42  ../../data/dataset/train/small/IMG_7897.jpeg  small

'Test dataset:'

                                           path  label
43    ../../data/dataset/test/big/IMG_7880.jpeg    big
44    ../../data/dataset/test/big/IMG_7856.jpeg    big
45    ../../data/dataset/test/big/IMG_7850.jpeg    big
46    ../../data/dataset/test/big/IMG_7877.jpeg    big
47    ../../data/dataset/test/big/IMG_7865.jpeg    big
48    ../../data/dataset/test/big/IMG_7868.jpeg    big
56  ../../data/dataset/test/small/IMG_7899.jpeg  small
57  ../../data/dataset/test/small/IMG_7893.jpeg  small
58  ../../data/dataset/test/small/IMG_7887.jpeg  small
59  ../../data/dataset/test/small/IMG_7902.jpeg  small

'Valid dataset:'

                                           path  label
49    ../../data/dataset/test/big/IMG_7853.jpeg    big
50    ../../data/dataset/test/big/IMG_7847.jpeg    big
51    ../../data/dataset/test/big/IMG_7871.jpeg    big
52    ../../data/dataset/test/big/IMG_7874.jpeg    big
53    ../../data/dataset/test/big/IMG_7883.jpeg    big
54    ../../data/dataset/test/big/IMG_7862.jpeg    big
55    ../../data/dataset/test/big/IMG_7859.jpeg    big
60  ../../data/dataset/test/small/IMG_7890.jpeg  small
61  ../../data/dataset/test/small/IMG_7896.jpeg  small
62  ../../data/dataset/test/small/IMG_7905.jpeg  small
63  ../../data/dataset/test/small/IMG_7915.jpeg  small

## Creating files

In [97]:

train_df.to_csv(os.path.join(images_dir_path, 'train.csv'), index=False)
test_df.to_csv(os.path.join(images_dir_path, 'test.csv'), index=False)
valid_df.to_csv(os.path.join(images_dir_path, 'valid.csv'), index=False)